.header {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  column-gap: 40px;
}

.header-signin {
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  transition-duration: var(--transition-duration);
}

.header-signin:hover {
  color: var(--color-accent);
}
