.header {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  column-gap: 40px;
}

.header-signin {
  position: relative;
  font-size: 17px;
}

.header-signin::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 8px);
  transform: translateY(-50%);
  width: 24px;
  aspect-ratio: 1;
  background: url("../../assets/icons/account.svg") center/contain no-repeat;
}
