body {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.75;
  color: var(--color-light);
  background-color: var(--color-accent);
}

a {
  color: inherit;
  text-decoration: none;
}
