body {
	font-family: var(--font-family-primary);
	font-weight: 700;
	font-size: 18px;
	line-height: 1.75;
	color: var(--color-light);
	background: url("../../assets/images/backgrounds/roadmap-bg.png") center
			1204px / cover no-repeat,
		url("../../assets/images/front-hill.png") 28% 768px / cover no-repeat,
		url("../../assets/images/back-mountain.png") center 250px / cover no-repeat,
		url("../../assets/images/backgrounds/hero-bg.png") center / cover no-repeat,
		url("../../assets/images/backgrounds/sky-bg.png") center -400px / cover no-repeat,
		var(--color-bg);
}

a,
svg * {
	color: inherit;
	text-decoration: none;
	transition-duration: var(--transition-duration);
}

a:hover {
	color: var(--color-accent);
}
